body {
  background-color: #05121c;
  color: white;
  font-family: Arial, sans-serif;
  margin: auto;
  max-width: 80%;
  text-align: center;
}

a:link, a:visited {
  color: #8bb4f7;
  text-decoration: none;
}

a:hover {
  color: #8bb4f7;
  text-decoration: underline;
}

#picture {
  border-radius: 50%;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 100px;
  width: 200px;
}

#title {
  color: #8bb4f7;
}

.icon {
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  width: 32px;
}

footer {
  color: #8bb4f7;
}
