/** General **/

body {
  background-color: #05121c;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: auto;
  max-width: 95%;
}

a {
  white-space: nowrap;
}

a:link, a:visited {
  color: #8bb4f7;
  text-decoration: none;
}

a:hover {
  color: #8bb4f7;
  text-decoration: underline;
}

/** Info section **/

.info {
  text-align: center;
}

.picture {
  border-radius: 50%;
  height: 200px;
  margin: 50px 0 20px 0;
  width: 200px;
}

.title {
  color: #8bb4f7;
}

.details {
  color: lightgray;
}

.icon-info {
  filter: invert();
  height: 12px;
  width: 12px;
}

.icon-social {
  filter: invert();
  height: 32px;
  margin: 0 10px 0 10px;
  width: 32px;
}

.link-social:hover {
  text-decoration: none;
}

/** Project section **/

.project {
  border:#0f3552 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  padding: 15px;
}

.secondary {
  display: none;
}

.project::after {
  clear: both;
  content: "";
  display: table;
}

.project a {
  font-weight: bold;
}

.demo a {
  color: #c9e043;
}

.year {
  color: #8b859b;
  padding: 5px 0 0 0;
}

/** Tags **/

.tag {
  border-radius: 15px;
  font-size: small;
  margin: 0 3px 0 0;
  padding: 7px;
}

.tag.css {
  border: #9b3bc8 2px solid;
  color: #9b3bc8;
}

.tag.html {
  border: #c8443b 2px solid;
  color: #c8443b;
}

.tag.java {
  border: #c8783b 2px solid;
  color: #c8783b;
}

.tag.javascript {
  border: #c6c83b 2px solid;
  color: #c6c83b;
}

.tag.python {
  border: #3b96dc 2px solid;
  color: #3b96dc;
}

.tag.sql {
  border: #3bc8c1 2px solid;
  color: #3bc8c1;
}

/** Button **/

#button-container {
  margin: 20px;
  text-align: center;
}

#button {
  background-color: #8bb4f7;
  border: none;
  border-radius: 5%;
  color: #05121c;
  padding: 10px 20px;
  font-size: 16px;
}

#button:hover {
  background-color: #6f96d4;
}

/** Footer **/

footer {
  clear: left;
  color: #8bb4f7;
  padding: 0 0 20px 0;
  text-align: center;
}

/** Desktop layout **/

@media only screen and (min-width: 992px) {
  body {
    max-width: 50%;
  }
}

/** 404 page **/

.not-found {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.huge {
  font-size: 300%;
}