body {
  background-color: #05121c;
  color: white;
  font-family: Arial, sans-serif;
  margin: auto;
  max-width: 80%;
  text-align: center;
}

#pfp {
  border-radius: 50%;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 100px;
  width: 200px;
}

#title {
  color: #b0d2ec;
}

.icon {
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  width: 32px;
}

#bio {
  text-align: left;
}
